body{

    background-color: #cecece;
    height: 2000px;
}

.navbar{
    display: flex;
    height: 30px;
    padding: 20px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 2px 5px 10px;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
}

.dashboard{
    cursor: pointer;
    padding: 5px;
}

.login_buttons{
    display: flex;
}

.login_buttons div{
    cursor: pointer;
    margin-right: 15px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}

.link_decor{
    text-decoration: none;
    color: black;
}