/* .main{
    background-color: bisque;
} */

span{
    display: inline-block;
    width: 120px;
    font-size: 24px;
    font-weight: 700;
    margin-right: 10px;
}
input{
    font-size: 24px;
    margin-bottom: 10px;
}

button{
    font-size: 22px;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 0;
}

.link_decor{
    text-decoration: none;
    color: red;
}

#login{
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
}